.mat-toolbar {
    margin: -1.5rem;
    margin-bottom: 0;
    width: auto;
}

.toolbar-header--dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: $company-blue-primary;
}