<div class="workspace-layout">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>school</mat-icon>
    </button>
    <span class="pe-3">Escuela App</span>
    <a mat-button [routerLink]="'/estudiantes'" routerLinkActive="active-link"> Estudiantes </a>
    <a mat-button [routerLink]="'/maestros'" routerLinkActive="active-link"> Maestros </a>
    <a mat-button [routerLink]="'/grados'" routerLinkActive="active-link"> Grados </a>
 </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>

